/* layout.less */

@name: re-magic-layout;
@color-grey: #ccc;

@import '../../styles/common.less';

.GridBackground {
  background: linear-gradient(90deg, rgba(60, 10, 30, 0.1) 3%, transparent 0),
    linear-gradient(1turn, rgba(60, 10, 30, 0.1) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0;
}

.@{name} {
  .fillWh();
  .GridBackground();
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
  float: left;
  border: 1px solid @color-grey;
  .clearCharGap();
}

// 切换不同布局
.layout {
  &-free {
    display: block;
  }
  &-float {
    .layout-child {
      float: left;
      transform: none !important;
    }
  }
  &-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .layout-child {
      flex: auto;
      transform: none !important;
    }
  }
}

.react-draggable {
  position: relative;
  transition: all 200ms ease-in-out;
  box-sizing: border-box;
  &-dragging {
    transition: none;
  }
}
