/**
* 布局内子元素的基本样式
*/
@import '../../styles/common.less';

@color-child-hover-bg: rgba(24, 144, 255, 0.86);
@color-child-selected-border: @color-primary;
@color-border: #f2f2f2;

@z-index-selected: 600;
@z-index-selected-border: 666;
@z-index-resize: 800;

// 样式主体
.layout-child {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 0px solid @color-border;
  // overflow: hidden;
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    .fillWh();
    border: 0px dashed @color-child-hover-bg;
  }
  &:hover {
    &::before {
      border-width: 2px;
      z-index: 10;
    }
  }
  &.selected {
    z-index: @z-index-selected;
    &::before {
      border: 2px solid @color-child-selected-border;
      z-index: @z-index-selected-border;
    }
  }
}
