/* index page less */

@color-bg: #f7f8fa;

// Common
.FillContainer {
  width: 100%;
  height: 100%;
}

.Card {
  background-color: white;
  .CardBoxShadow();
}
.CardBoxShadow {
  box-shadow: 0 8px 12px #ebedf0;
  border-radius: 4px;
}

// Global
body {
  background-color: @color-bg;
}

// Page
.page {
  position: absolute;
  .FillContainer();
  padding: 20px;
  margin: 0 !important;
  flex-wrap: nowrap;
}

.platform {
  .FillContainer();

  padding: 10px;
  overflow: hidden;
}

.settings {
  max-width: 300px;
  overflow-x: auto;
}

.settings-panel,
.toolbar,
.platform {
  .Card();
}

.settings-panel {
  .FillContainer();
}

.main {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

@media screen and (max-width: 1000px) {
  .settings {
    display: none;
  }
}
