/* index page less */

@color-bg: #f7f8fa;

// Common
.FillContainer {
  width: 100%;
  height: 100%;
}

.GridBackground {
  background: linear-gradient(90deg, rgba(60, 10, 30, 0.1) 3%, transparent 0),
    linear-gradient(1turn, rgba(60, 10, 30, 0.1) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0;
}

.Card {
  background-color: white;
  .CardBoxShadow();
}
.CardBoxShadow {
  box-shadow: 0 8px 12px #ebedf0;
  border-radius: 4px;
}

// Global
body {
  background-color: @color-bg;
}

// Page
.page {
  position: absolute;
  .FillContainer();
  padding: 20px;
}

.container {
  .FillContainer();
  .GridBackground();
}

.settings,
.toolbar,
.container {
  .Card();
}

.main {
  display: flex;
  flex-direction: column;
}
